doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/pure.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    header App
    div#content
      block content
    block scripts
