extends layout

block content
  
  form.pure-form(action='/login', method='POST')
    fieldset.pure-group
      input.pure-input-1-2(name='username',type='text', placeholder='Username')
      input.pure-input-1-2(name='password',type='password', placeholder='Password')
    button.pure-button.pure-input-1-2.pure-button-primary(type='submit') Login
