extends layout

block content
  
  form.pure-form(action='/register', method='POST')
    fieldset.pure-group
      input.pure-input-1-2(name='username',type='text', placeholder='Username')
      input.pure-input-1-2(name='email',type='email', placeholder='Email')
      input.pure-input-1-2(name='password',type='password', placeholder='Password')
    button.pure-button.pure-input-1-2.pure-button-primary(type='submit') Sign Up
